.navbar {
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 10rem;
    z-index: 2;
    transition: transform 0.3s ease-in-out;
    backdrop-filter: blur(3px);
}

.navbar.hidden {
    transform: translateY(-100%);
  }

.nav-links {
    display: flex;
    list-style: none;
    gap: 20px;
}



.nav-links a {
    position: relative;
    color: rgba(255, 255, 255, 0.87);
    text-decoration: none;
    transition: 0.3s ease-in-out all;
}

.nav-links a:after {
    content: "";
    position: absolute;
    background-color: rgb(255, 255, 255);
    height: 1.3px;
    width: 0;
    left: 0;
    bottom: -5px;
    transition: 0.3s ease-in-out all;
}

.nav-links a:hover {
    color: white;
   
}

.nav-links a:hover:after {
    width: 100%;
    
}

.logoName-container {
    display: flex;
    align-items: center;
    gap: 20px;
    cursor: pointer;
    transition: .3s ease-in-out all;
}

.logoName-container:hover {
    transform: scale(1.03);
}

.logoName-container:hover .logo {
    
    outline: 2px solid rgba(255, 255, 255, 0.838);
}

.logo {
    width: 50px;
    height: 50px;
    border-radius: 100%;
    transition: .3s all;
    outline: 2px solid rgba(255, 255, 255, 0);
}

.NameAndDescription {
    text-align: left;
}



.menu-button {
    background: transparent;
    color: #ffffffcf;
    margin: 0;
    padding: 0;
    border: none;
    font-size: 1.4rem;
    transition: .3s ease-in-out all;
    
    display: none;
}

.menu-button:hover {
   transform: scale(1.1);
   color: white;
   
}

.menu-dropdown ul {
    display: flex;
    flex-direction: column;
    list-style: none;
    padding: 10px;
    gap: 4px;
    background-color: #171921;
    border-radius: 14px;
    cursor: pointer;
    min-width: 200px;
    margin-top: 10px;
    
}

.menu-dropdown a {
    text-align: left;
    align-items: center;
    border-radius: 4px;
    color: #ffffffcf;
    padding: .3rem;
    transition: .3s ease-in-out all;
    display: block;
    text-decoration: none;
}

.menu-dropdown a:hover {
   background-color: #232735;
   color: white;
}



@media (max-width: 910px) {
    .navbar {
        padding: 2rem 2rem;
    }
}

@media (max-width: 540px) {
    .navbar {
        padding: 2rem 2rem;
    }

    .nav-links {
        display: none;
    }

    .menu-button {
        display: block;
    }
}