.pre-container {
   height: 100vh;
   display: flex;
   padding: 2rem 10rem;
   align-items: center;
}

.info {
    max-width: 500px;
}

.info h1 {
    margin-bottom: 1.2rem;
}

.info p {
    margin-bottom: 1.2rem;
}

.redes {
    display: flex;
    gap: 10px;
}

.redes a  {
    text-decoration: none;
    color: #ffffffac;
    
}

.icon {
    font-size: 1.5em;
    transition: .3s ease-in-out all;
}

.icon:hover {
    color: white;
    transform: scale(1.1);
}

@media (max-width: 910px) {
    .pre-container {
        padding: 2rem 2rem;
    }
}